ul {
    color: green;
    list-style-type: none;
}

body{
    background: rgb(130, 35, 35) url("../events/static/images/background.jpeg");/* no-repeat;*/
}
/* TODO: Add design: flexible */
.navbar{
    border-radius: 0;
}

.navbar-brand{
    font-family: 'Satisfy', cursive;
}